.cell_row {
  display: flex;
  flex-direction: row;
  width: 510px;
}

.bottom-box {
  display: flex;
  flex-direction: row;
  width: 510px;
  border-bottom: 0.15rem solid rgb(52, 72, 97);
}

.top-box {
  display: flex;
  flex-direction: row;
  width: 510px;
  border-top: 0.15rem solid rgb(52, 72, 97);
}
