.numcell {
  padding: 2.4rem;
  height: 1.5rem;
  width: 1.5rem;
  border-top: 1px solid rgb(187, 187, 187);
  border-left: 1px solid rgb(187, 187, 187);
  border-bottom: 1px solid rgb(187, 187, 187);
  border-right: 1px solid rgb(187, 187, 187);
  font-size: 45px;
  font-weight: 500;
  color: #344861;
  cursor: pointer;
}
.numcell:hover {
  background-color: #d8e7ec;
  transition: 0.1s;
}

.numcell_digit {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
