@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap");

.cell {
  height: 3.6rem;
  width: 3.6rem;
  border-bottom: 1px solid rgb(187, 187, 187);
  border-left: 1px solid rgb(187, 187, 187);
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  color: rgb(52, 72, 97);
  box-sizing: border-box;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:hover {
  background-color: #d8e7ec;
  transition: 0.2s;
}

.cell_r_border {
  height: 3.6rem;
  width: 3.6rem;
  border-right: 0.15rem solid rgb(52, 72, 97);
  border-left: 1px solid rgb(187, 187, 187);
  border-bottom: 1px solid rgb(187, 187, 187);
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  color: rgb(52, 72, 97);
  box-sizing: border-box;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell_r_border:hover {
  background-color: #d8e7ec;
  transition: 0.2s;
}

.cell_l_border {
  height: 3.6rem;
  width: 3.6rem;
  border-left: 0.15rem solid rgb(52, 72, 97);
  border-bottom: 1px solid rgb(187, 187, 187);
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  color: rgb(52, 72, 97);
  box-sizing: border-box;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell_l_border:hover {
  background-color: #d8e7ec;
  transition: 0.2s;
}

.cell_a {
  transition: 0.2s;
  height: 3.6rem;
  width: 3.6rem;
  border-bottom: 1px solid rgb(187, 187, 187);
  border-left: 1px solid rgb(187, 187, 187);
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  color: rgb(52, 72, 97);
  box-sizing: border-box;
  cursor: pointer;
  background-color: #a8d8ea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell_r_border_a {
  transition: 0.2s;
  height: 3.6rem;
  width: 3.6rem;
  border-right: 0.15rem solid rgb(52, 72, 97);
  border-left: 1px solid rgb(187, 187, 187);
  border-bottom: 1px solid rgb(187, 187, 187);
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  color: rgb(52, 72, 97);
  box-sizing: border-box;
  cursor: pointer;
  background-color: #a8d8ea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell_l_border_a {
  transition: 0.2s;
  height: 3.6rem;
  width: 3.6rem;
  border-left: 0.15rem solid rgb(52, 72, 97);
  border-bottom: 1px solid rgb(187, 187, 187);
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  color: rgb(52, 72, 97);
  box-sizing: border-box;
  cursor: pointer;
  background-color: #a8d8ea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell_h {
  transition: 0.2s;
  height: 3.6rem;
  width: 3.6rem;
  border-bottom: 1px solid rgb(187, 187, 187);
  border-left: 1px solid rgb(187, 187, 187);
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  color: rgb(52, 72, 97);
  box-sizing: border-box;
  cursor: pointer;
  background-color: #e2e7ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell_r_border_h {
  transition: 0.2s;
  height: 3.6rem;
  width: 3.6rem;
  border-right: 0.15rem solid rgb(52, 72, 97);
  border-left: 1px solid rgb(187, 187, 187);
  border-bottom: 1px solid rgb(187, 187, 187);
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  color: rgb(52, 72, 97);
  box-sizing: border-box;
  cursor: pointer;
  background-color: #e2e7ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell_l_border_h {
  transition: 0.2s;
  height: 3.6rem;
  width: 3.6rem;
  border-left: 0.15rem solid rgb(52, 72, 97);
  border-bottom: 1px solid rgb(187, 187, 187);
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  color: rgb(52, 72, 97);
  box-sizing: border-box;
  cursor: pointer;
  background-color: #e2e7ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell_r {
  transition: 0.2s;
  height: 3.6rem;
  width: 3.6rem;
  border-bottom: 1px solid rgb(187, 187, 187);
  border-left: 1px solid rgb(187, 187, 187);
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  color: #fe146d;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #ffd0e2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell_r_border_r {
  transition: 0.2s;
  height: 3.6rem;
  width: 3.6rem;
  border-right: 0.15rem solid rgb(52, 72, 97);
  border-left: 1px solid rgb(187, 187, 187);
  border-bottom: 1px solid rgb(187, 187, 187);
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  color: #fe146d;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #ffd0e2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell_l_border_r {
  transition: 0.2s;
  height: 3.6rem;
  width: 3.6rem;
  border-left: 0.15rem solid rgb(52, 72, 97);
  border-bottom: 1px solid rgb(187, 187, 187);
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  color: #fe146d;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #ffd0e2;
  display: flex;
  align-items: center;
  justify-content: center;
}
