@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

.App {
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.hr_class {
  border: 0;
  height: 1px;
  background-color: #dfdbdb;
}

.hr_div {
  height: 1px;
  background-color: rgb(233, 232, 232);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
}
